In [1]:
# https://colab.research.google.com/github/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/blob/main/notebooks/P2/P2C2%20-%20Manipulez%20un%20dataframe.ipynb#scrollTo=193e1033

import pandas as pd
import numpy as np

prets = pd.read_csv("data/prets.csv")
prets.head()

   identifiant      ville     CP  ...  duree        type   taux
0            0   TOULOUSE  31100  ...    240  immobilier  1.168
1            1      PARIS  75009  ...     64  automobile  3.701
2            1      PARIS  75009  ...    300  immobilier  1.173
3            2  MARSEILLE  13010  ...    240  immobilier  0.972
4            3  MARSEILLE  13010  ...    180  immobilier  1.014

[5 rows x 8 columns]

In [2]:
# cr√©ez une nouvelle variable calculant le taux d'endettement de chaque individu.
# Ce taux correspond au pourcentage du revenu rembours√© chaque mois par un individu.
# Vous arrondirez le r√©sultat √† 2 chiffres apr√®s la virgule.

taux_endettement = (prets["remboursement"] / prets["taux"]) * 100
prets["taux_endettement"] = round(taux_endettement, 2)
prets.head()

   identifiant      ville     CP  ...        type   taux  taux_endettement
0            0   TOULOUSE  31100  ...  immobilier  1.168          96750.86
1            1      PARIS  75009  ...  automobile  3.701           6484.73
2            1      PARIS  75009  ...  immobilier  1.173         106381.07
3            2  MARSEILLE  13010  ...  immobilier  0.972          56845.68
4            3  MARSEILLE  13010  ...  immobilier  1.014          57793.89

[5 rows x 9 columns]

In [5]:
# renommer la variable taux en taux_interet pour eviter toute confusion:
prets.rename(columns={"taux": "taux_interet"}, inplace=True)
prets.head()

   identifiant      ville     CP  ...        type  taux_interet  taux_endettement
0            0   TOULOUSE  31100  ...  immobilier         1.168          96750.86
1            1      PARIS  75009  ...  automobile         3.701           6484.73
2            1      PARIS  75009  ...  immobilier         1.173         106381.07
3            2  MARSEILLE  13010  ...  immobilier         0.972          56845.68
4            3  MARSEILLE  13010  ...  immobilier         1.014          57793.89

[5 rows x 9 columns]

In [6]:
"""
Nous allons √† pr√©sent cr√©er deux derni√®res variables :

- 'cout_total' correspondant au cout total du pret √† partir du remboursement et de la duree
- 'benefices' correspondant aux b√©n√©fices mensuels r√©alis√©s par la banque sur le pr√™t

Nous simplifierons ici le calcul des b√©n√©fices par :

b√©n√©fices =  (ùê∂xùëá) 24 

avec:

C = cout total du pr√™t
T = taux d'int√©r√™t
"""

prets["cout_total"] = prets["remboursement"] * prets["duree"]

benefice_mensuel_realise = ((prets['cout_total'] * prets['taux_interet']) / 100) / 24
prets["benefices"] = round(benefice_mensuel_realise, 2)

prets.head()

   identifiant      ville     CP  ...  taux_endettement  cout_total  benefices
0            0   TOULOUSE  31100  ...          96750.86    271212.0     131.99
1            1      PARIS  75009  ...           6484.73     15360.0      23.69
2            1      PARIS  75009  ...         106381.07    374355.0     182.97
3            2  MARSEILLE  13010  ...          56845.68    132609.6      53.71
4            3  MARSEILLE  13010  ...          57793.89    105485.4      44.57

[5 rows x 11 columns]

In [7]:
# connaitre les 5 pr√™ts sur lesquels nous produisons le plus de b√©n√©fices. Mettez en place une solution pour les afficher :
prets.sort_values(by="benefices", ascending=False)
prets.head()

   identifiant      ville     CP  ...  taux_endettement  cout_total  benefices
0            0   TOULOUSE  31100  ...          96750.86    271212.0     131.99
1            1      PARIS  75009  ...           6484.73     15360.0      23.69
2            1      PARIS  75009  ...         106381.07    374355.0     182.97
3            2  MARSEILLE  13010  ...          56845.68    132609.6      53.71
4            3  MARSEILLE  13010  ...          57793.89    105485.4      44.57

[5 rows x 11 columns]

In [15]:
# Le taux d‚Äôendettement autoris√© est de 35%. Pourriez vous me communiquer le nombre de personnes ayant d√©pass√© ce seuil ?

mask_endettement_autorise = prets['taux_endettement'] > 35
clients_risque = prets.loc[mask_endettement_autorise, :]
clients_risque.shape[0]

244

In [16]:
# M√™me question, mais cette fois ci uniquement sur l‚Äôagence Parisienne
client_risque_paris = prets.loc[(mask_endettement_autorise) & (prets["ville"] == "PARIS"), :]
client_risque_paris.shape[0]

77

In [19]:
"""
Pour faciliter le traitement d‚Äô√©ventuelles futures demandes de pr√™ts, pourriez vous ajouter une variable nomm√©e 
risque qui aurait pour valeur Oui si le client est risqu√© (taux d‚Äôendettement > 35%), Non sinon.
Pour se faire, je vous conseille de cr√©er la variable risque en l'initialisant √† Non (ou Oui, √† votre pr√©f√©rence) et de ne modifier
que les lignes concern√©es par la valeur inverse :
"""

prets['risque'] = 'Non'
prets.loc[mask_endettement_autorise, 'risque'] = 'Oui'
prets

     identifiant      ville     CP  ...  cout_total  benefices  risque
0              0   TOULOUSE  31100  ...    271212.0     131.99     Oui
1              1      PARIS  75009  ...     15360.0      23.69     Oui
2              1      PARIS  75009  ...    374355.0     182.97     Oui
3              2  MARSEILLE  13010  ...    132609.6      53.71     Oui
4              3  MARSEILLE  13010  ...    105485.4      44.57     Oui
..           ...        ...    ...  ...         ...        ...     ...
239          224      PARIS  75008  ...    374637.0     188.26     Oui
240          224      PARIS  75008  ...      5955.0       8.49     Oui
241          225   BORDEAUX  33100  ...    157757.4      77.04     Oui
242          226      PARIS  75002  ...    698630.4     331.85     Oui
243          227      PARIS  75015  ...    130314.0      62.82     Oui

[244 rows x 12 columns]

In [21]:
# Combien de pr√™ts automobiles ont √©t√© accord√©s ? Quel est le co√ªt total moyen de ces derniers ?
prets_auto = prets.loc[prets["type"] == "automobile", :]

nombre_prets_auto = prets_auto.shape[0]
cout_total_moyen = prets_auto["cout_total"].mean()

print('Nous avons accord√©', nombre_prets_auto, 'pr√™ts automobiles, dont le co√ªt total moyen est de', round, '‚Ç¨')

Nous avons accord√© 16 pr√™ts automobiles, dont le co√ªt total moyen est de 13665.0 ‚Ç¨

In [24]:
# Quel est le b√©n√©fice mensuel total r√©alis√© par l‚Äôagence Toulousaine ?
benefice_mensuel_agence_toulouse = prets.loc[prets["ville"] == "TOULOUSE", "benefices"].sum()
round(benefice_mensuel_agence_toulouse, 2)

2138.0699999999997